[theme='light'] {
  --primary: #5f27cd;

  --light: #fff;
  --light-lightness: #f5f5f5;
  --light-medium: #f2f2f2;
  --light-dark: #f0f0f0;
  --light-darkness: #eee;

  --text: #333;

  --gray-light: #ddd;
  --gray-lightness: #bbb;
  --gray-medium: #999;
  --gray-dark: #777;
  --gray-darkness: #555;
}

[theme='dark'] {
  --primary: #925cff;

  --light: #1b1b1b;
  --light-lightness: #222;
  --light-medium: #2b2b2b;
  --light-dark: #303030;
  --light-darkness: #3b3b3b;

  --text: #eee;

  --gray-light: #282828;
  --gray-lightness: #323232;
  --gray-medium: #353535;
  --gray-dark: #404040;
  --gray-darkness: #454545;
}

:export {
  primary: var(--primary);
  light: var(--light);
  text: var(--text);

  light: var(--light);
  lightLightness: var(--light-lightness);
  lightMedium: var(--light-medium);
  lightDark: var(--light-dark);
  lightDarkness: var(--light-darkness);

  grayLight: var(--gray-light);
  grayLightness: var(--gray-lightness);
  grayMedium: var(--gray-medium);
  grayDark: var(--gray-dark);
  grayDarkness: var(--gray-darkness);
}
