[theme='light'] {
  --primary: #5f27cd;
  --primary-light: #925cff;

  --light: #fff;
  --light-lightness: #f5f5f5;
  --light-medium: #f2f2f2;
  --light-dark: #f0f0f0;
  --light-darkness: #eee;

  --text: #333;

  --gray-light: #ddd;
  --gray-lightness: #bbb;
  --gray-medium: #999;
  --gray-dark: #777;
  --gray-darkness: #555;

  --error: #d23434;
}

[theme='dark'] {
  --primary: #925cff;
  --primary-light: #ac84fa;

  --light: #1b1b1b;
  --light-lightness: #202020;
  --light-medium: #242424;
  --light-dark: #272727;
  --light-darkness: #2b2b2b;

  --text: #eee;

  --gray-light: #303030;
  --gray-lightness: #323232;
  --gray-medium: #353535;
  --gray-dark: #404040;
  --gray-darkness: #454545;

  --error: #ff3838;
}

:export {
  primary: var(--primary);
  primaryLight: var(--primary-light);
  light: var(--light);
  text: var(--text);

  light: var(--light);
  lightLightness: var(--light-lightness);
  lightMedium: var(--light-medium);
  lightDark: var(--light-dark);
  lightDarkness: var(--light-darkness);

  grayLight: var(--gray-light);
  grayLightness: var(--gray-lightness);
  grayMedium: var(--gray-medium);
  grayDark: var(--gray-dark);
  grayDarkness: var(--gray-darkness);

  error: var(--error);
}
